/* /Areas/Admin/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-t2mfqlzvbg] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-t2mfqlzvbg] {
  color: #0077cc;
}

.btn-primary[b-t2mfqlzvbg] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-t2mfqlzvbg], .nav-pills .show > .nav-link[b-t2mfqlzvbg] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-t2mfqlzvbg] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-t2mfqlzvbg] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-t2mfqlzvbg] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-t2mfqlzvbg] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-t2mfqlzvbg] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* /Areas/Admin/Views/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-7d57na9may] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-7d57na9may] {
  color: #0077cc;
}

.btn-primary[b-7d57na9may] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-7d57na9may], .nav-pills .show > .nav-link[b-7d57na9may] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-7d57na9may] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-7d57na9may] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-7d57na9may] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-7d57na9may] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-7d57na9may] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* /Areas/User/Views - Copy/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-st6mp0wuax] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-st6mp0wuax] {
  color: #0077cc;
}

.btn-primary[b-st6mp0wuax] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-st6mp0wuax], .nav-pills .show > .nav-link[b-st6mp0wuax] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-st6mp0wuax] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-st6mp0wuax] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-st6mp0wuax] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-st6mp0wuax] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-st6mp0wuax] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* /Areas/User/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-yy3u0zl501] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-yy3u0zl501] {
  color: #0077cc;
}

.btn-primary[b-yy3u0zl501] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-yy3u0zl501], .nav-pills .show > .nav-link[b-yy3u0zl501] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-yy3u0zl501] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-yy3u0zl501] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-yy3u0zl501] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-yy3u0zl501] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-yy3u0zl501] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* /Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-j9m2xqj0wd] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-j9m2xqj0wd] {
  color: #0077cc;
}

.btn-primary[b-j9m2xqj0wd] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-j9m2xqj0wd], .nav-pills .show > .nav-link[b-j9m2xqj0wd] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-j9m2xqj0wd] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-j9m2xqj0wd] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-j9m2xqj0wd] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-j9m2xqj0wd] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-j9m2xqj0wd] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
